.overView {
  display: grid;
  grid-template-rows: repeat(1, auto auto 1fr);
  height: 100%;
  overflow: hidden;
  padding-top: 20px;

  .search,
  .slider {
    width: 70vw;
    margin: 0 auto;
    padding: 10px 0;
  }
  .articles {
    padding: 0 25px;
    overflow: auto;
  }
  .article {
    margin-bottom: 20px;
  }
}

@media screen and (min-device-width: 768px) {
  .overView {
    .search,
    .slider {
      width: 50vw;
    }
    .articles {
      padding: 0 100px;
    }
  }
}
