.Billing {
  box-sizing: border-box;
  width: 100%;

  .bill {
    font-size: 0.7rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 3px 0;

    &.total {

      .name,
      .value {
        font-style: normal;
        font-weight: bold;
        font-size: 0.9rem;
      }
    }

    .name {
      font-style: italic;
    }

    .value {
      box-sizing: border-box;
    }
  }
}
