@mixin flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

$light: #ffffff;
$primary: #c3c3c3c3;
$dark: #222;

.PopMenu {
  position: relative;

  .icon {
    @include flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    font-size: 23px;
    cursor: pointer;
    border: none;
    background: none;
    outline: none;

    &:active {
      outline: none;
    }
  }

  .overlay {
    min-width: 200px;
    background: $light;
    border: 0.5px solid darken($light, 5);
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;

    > .items {
      @include flex;
      flex-direction: column;

      > .item,
      .link {
        margin: 0;
        text-decoration: none;
        outline: none;
        list-style: none;
      }
    }
    .link {
      @include flex;
      height: 100%;
      width: 100%;
    }

    .item {
      height: 40px;
      @include flex;
      width: 100%;
      cursor: pointer;

      &:hover {
        background: darken(#fff, 2);
      }
    }

    .link {
      box-sizing: border-box;
      color: $dark;
      font-size: 0.9rem;
      padding: 0 20px;
    }
  }
}
