@import "./vars";

.btn {
  border: none;
  background: none;
  outline: none;
  font-weight: bold;
  font-size: 0.8rem;
  padding: 8px 20px;
  margin: 0;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  &:active {
    outline: none;
  }
  &:hover {
    cursor: pointer;
    color: lighten(#222, 20);
  }
  &.btn {
    &-upp {
      text-transform: uppercase;
    }
    &-right {
      justify-content: flex-end;
    }
    &-link {
      font-weight: normal;
    }
    &-primary {
      color: #fff;
      background: $primary;
      &:hover {
        background: lighten($primary, 2);
      }
    }
    &-success {
      color: #fff;
      background: $success;
      &:hover {
        background: lighten($primary, 2);
      }
    }
  }
}
