$violet-base: #845ecc;
$violet-clean: #9b89bb;
$violet-light: #fef7ff;
$violet-dark: #4b4455;
$yellow-light: #fefedd;
$green-tea: #00c0aa;
$green-leaf: #008966;
$green-blue: #00b894;
$city-light: #dfe6e9;
$dark-primer: #222f3e;
$w-dark: #455A64;

$red-base: #d63031;
$yellow-base: #fdcb6e;
$light: #fafafa;
$dark: #222;
//////
$primary: $dark-primer;
$secondary: $violet-base;
$success: $green-tea;
$warning: $yellow-base;
$danger: $red-base;

